/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

/*
 * Application-structural elements like windows, drawers, etc.
 */

:root {
    --header-active-background-color: custom-color("kcolorscheme", "active", "header", "background", "normal");
    --header-active-text-color: custom-color("kcolorscheme", "active", "header", "foreground", "text");
    --header-active-border-color: custom-color("kcolorscheme", "active", "header", "decoration", "frame");
}

applicationwindow
{
    background-color: var(--window-background-color);
    color: var(--window-text-color);
}

page
{
    background-color: var(--window-background-color);
    color: var(--window-text-color);
}

toolbar
{
    padding: var(--small-spacing);
    background-color: var(--window-background-color);

    &.header {
        border-bottom: 1px solid var(--header-active-border-color);
        background-color: var(--header-active-background-color);
    }

    &.footer {
        border-top: 1px solid var(--window-border-color);
    }
}

drawer
{
    color: var(--view-text-color);
    background-color: var(--view-background-color);

    &.modal {
        color: var(--window-text-color);
        background-color: var(--window-background-color);
    }
}

scrollview {
    background-color: var(--view-background-color);
    color: var(--view-text-color);
    border: 1px solid var(--view-border-color);
    border-radius: var(--corner-radius);

    &.vertical-scroll {
        padding-right: var(--scrollbar-size);
    }

    &.horizontal-scroll {
        padding-bottom: var(--scrollbar-size);
    }
}

page > scrollview {
    border: none;
    border-radius: 0px;
}

pageindicator {
    spacing: var(--small-spacing);
}

pageindicatordelegate {
    background-color: var(--indicator-color);
    width: 8px;
    height: 8px;
    border-radius: 4px;

    &:pressed {
        background-color: var(--indicator-press-color);
    }

    &.current {
        background-color: var(--indicator-current-color);
    }
}

groupbox {
    padding: var(--small-spacing);
    background-color: var(--window-background-color);
    color: var(--window-text-color);
    border: 1px solid var(--window-border-color);
    border-radius: var(--corner-radius);
    header {
        color: var(--window-text-color);
    }
}
