/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 * SPDX-FileCopyrightText: 2025 Akseli Lahtinen <akselmo@akselmo.dev>
 */

/*
 * Bar-like controls such as progress bars and sliders.
 */

:root {
    --slider-border-color: var(--window-border-color);
    --slider-background-color: var(--view-background-color);
    --slider-handle-background-color: var(--button-active-background-color);
    --slider-handle-highlight-color: mix(var(--button-active-background-color), var(--highlight-color), 0.5);
    --slider-fill-color: var(--highlight-color);
    --slider-disabled-border-color: var(--window-disabled-border-color);
    --slider-disabled-background-color: var(--view-disabled-background-color);
    --slider-disabled-handle-background-color: var(--button-disabled-background-color);
    --slider-disabled-handle-highlight-color: mix(var(--button-disabled-background-color), var(--highlight-disabled-color), 0.5);
    --slider-disabled-fill-color: var(--highlight-disabled-color);
}

busyindicator
{
    width: 36px;
    height: 36px;
    icon-name: "process-working-symbolic";
}

progressbar
{
    width: 200px;
    height: var(--large-spacing);
    padding: 0px var(--large-spacing);
    inset: 0px var(--large-spacing);

    background-color: var(--button-active-background-color);
    border: 1px solid var(--button-active-border-color);
    border-radius: var(--corner-radius);

    track {
        background-color: var(--button-active-highlight-color);
        border: 1px solid var(--highlight-color);
        border-radius: var(--corner-radius);
    }

    &:disabled {
        background-color: var(--button-disabled-background-color);
        border: 1px solid var(--button-disabled-border-color);
    }
}

slider,
rangeslider
{
    &.horizontal
    {
        width: 200px;
        height: 6px;
    }

    &.vertical
    {
        width: 6px;
        height: 200px;
    }

    background-color: var(--slider-background-color);
    border: 1px solid var(--slider-border-color);
    border-radius: var(--corner-radius);

    &:disabled {
        background-color: var(--slider-disabled-background-color);
        border: 1px solid var(--slider-disabled-border-color);
    }
}

slider fill,
rangeslider fill
{
    background-color: var(--slider-fill-color);
    border-radius: var(--corner-radius);

    &:disabled {
        background-color: var(--slider-disabled-fill-color);
    }
}


slider handle,
rangeslider handle
{
    width: var(--medium-element-size);
    height: var(--medium-element-size);
    background-color: var(--slider-handle-background-color);
    border: 1px solid var(--slider-border-color);
    border-radius: var(--small-element-size);

    &:hovered
    {
        border-color: var(--highlight-color);
    }

    &:visual-focus
    {
        border-color: var(--highlight-color);
        outline: var(--focus-outline);
    }
}

slider:pressed handle,
rangeslider handle:pressed
{
    background-color: var(--slider-handle-highlight-color);
    border-color: var(--highlight-color);
}

slider:disabled handle,
rangeslider:disabled handle
{
    background-color: var(--slider-disabled-handle-background-color);
    border: 1px solid var(--slider-disabled-border-color);
}

scrollbar
{
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);

    padding: var(--medium-spacing);

    &.horizontal
    {
        border-top: 1px solid var(--scrollbar-border-color);
    }

    &.vertical
    {
        border-left: 1px solid var(--scrollbar-border-color);
    }

    handle
    {
        background-color: var(--scrollbar-handle-color);
        border: 1px solid var(--scrollbar-border-color);
        border-radius: var(--small-element-size);

        &:hovered,
        &:pressed
        {
            background-color: var(--scrollbar-active-color);
            border-color: var(--scrollbar-active-color);
        }

        &:disabled {
            background-color: var(--scrollbar-disabled-color);
            border: 1px solid var(--scrollbar-disabled-border-color);
        }
    }
}
