/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

/*
 * Kirigami-specific controls
 */

applicationheader
{
    background-color: var(--header-active-background-color);
    color: var(--header-active-text-color);

    &.with-separator
    {
        border-bottom: 1px solid var(--header-active-border-color);
    }
}

card
{
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--corner-radius);
    box-shadow: 0px 2px var(--grid-unit) 0px rgba(0, 0, 0, 0.1);
    color: var(--card-text-color);

    &:hovered {
        background-color: var(--card-hover-color);
    }

    &:pressed {
        background-color: var(--card-pressed-color);
    }
}

chip
{
    width: var(--medium-element-size);
    height: var(--medium-element-size);
    padding: var(--medium-spacing);

    background-color: var(--button-active-background-color);
    border-radius: var(--corner-radius);
    border: 1px solid var(--button-active-border-color);
    color: var(--button-active-text-color);

    spacing: var(--small-spacing);

    & > .indicator
    {
        width: var(--small-element-size);
        height: var(--small-element-size);

        icon-name: "edit-delete-remove";
        icon-width: var(--icon-size-small);
        icon-height: var(--icon-size-small);

        layout-alignment: item end center 0;
    }

    &:hovered
    {
        border-color: var(--highlight-color);
    }

    &:pressed
    {
        border-color: var(--highlight-color);
        background-color: var(--button-active-highlight-color);
    }
}

heading
{
    color: var(--window-text-color);

    &.primary
    {
        font-weight: bolder;
    }

    &.level-1
    {
        font-size: 135%;
    }

    &.primary.level-1
    {
        font-size: 135%;
        font-weight: bolder;
    }

    &.level-2
    {
        font-size: 120%;
    }

    &.primary.level-2
    {
        font-size: 120%;
        font-weight: bolder;
    }

    &.level-3
    {
        font-size: 115%;
    }

    &.primary.level-3
    {
        font-size: 115%;
        font-weight: bolder;
    }

    &.level-4
    {
        font-size: 110%;
    }

    &.primary.level-4
    {
        font-size: 110%;
        font-weight: bolder;
    }

    &.secondary
    {
        /*         opacity: 0.75; */
    }
}

inlinemessage
{
    padding: var(--small-spacing);

    background-color: mix(var(--window-background-color), var(--highlight-color), 0.2);
    border: 1px solid var(--highlight-color);
    border-radius: var(--corner-radius);
    color: var(--window-text-color);

    &[type="positive"] {
        background-color: var(--positive-background);
        border: 1px solid var(--positive-text);
    }

    &[type="warning"] {
        background-color: var(--neutral-background);
        border: 1px solid var(--neutral-text);
    }

    &[type="error"] {
        background-color: var(--negative-background);
        border: 1px solid var(--negative-text);
    }

    &[position="header"] {
        border-radius: 0px;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    &[position="footer"] {
        border-radius: 0px;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}

overlaydrawer
{
    background-color: var(--view-background-color);
    color: var(--view-text-color);

    &.modal
    {
        background-color: var(--window-background-color);
        color: var(--window-text-color);
    }
}
