/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

progressbar {
    width: 200px;
    height: var(--large-spacing);
    padding: 0px var(--large-spacing);
    inset: 0px var(--large-spacing);

    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--corner-radius);

    track {
        background-color: var(--button-highlight-color);
        border: 1px solid var(--highlight-color);
        border-radius: var(--corner-radius);
    }
}
