/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Akseli Lahtinen <akselmo@akselmo.dev>
 */

treeviewdelegate,
tableviewdelegate {
    color: var(--view-text-color);
    background-color: var(--view-background-color);
    spacing: var(--small-spacing);

    .alternatingRows {
        background-color: var(--view-background-alternate-color);
    }

    inset: 0px;
    padding: var(--small-spacing);
    width: 100px;
    height: 30px;
    border-radius: 0px;

    &:hovered,
    &:active-focus {
        border: 1px solid var(--highlight-color);
        background-color: transparent;
    }

    &:visual-focus {
        outline: 1px solid var(--focus-color);
    }

    &:highlighted {
        color: var(--highlight-text-color);
        border: 1px solid var(--highlight-color);
        background-color: var(--highlight-color);
    }

    .editing {
        border: 1px solid var(--highlight-color);
    }

    &:disabled {
        color: var(--view-disabled-text-color);
        background-color: var(--view-disabled-background-color);
    }
}

treeviewdelegate {
    & indicator {
        color: var(--view-text-color);
        width: var(--icon-size-small);
        height: var(--icon-size-small);
        icon-name: "arrow-right-symbolic";
    }

    &.expanded indicator {
        icon-name: "arrow-down-symbolic"
    }

    &:disabled {
        color: var(--view-disabled-text-color);
        background-color: var(--view-disabled-background-color);

        indicator {
            color: var(--view-disabled-text-color);
        }
    }
}

headerviewdelegate
{
    width: var(--large-element-size);
    height: var(--large-element-size);
    padding: var(--small-spacing);

    border-bottom: 1px solid var(--button-active-border-color);
    border-right: 1px solid var(--button-active-border-color);

    background-color: var(--button-active-background-color);
    color: var(--button-active-text-color);

    text-alignment-horizontal: center;
    text-alignment-vertical: center;

    &:disabled
    {
        border: 1px solid var(--button-disabled-border-color);
        color: var(--button-disabled-text-color);
        background-color: var(--button-disabled-background-color);
    }
}

selectionrectangle {
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: var(--corner-radius);
    background-color: var(--highlight-color);

    &:disabled {
        border: 1px solid var(--highlight-disabled-color);
        color: var(--highlight-disabled-color);
        background-color: var(--highlight-disabled-color);
    }
}

selectionrectanglehandle {
    width: var(--small-element-size);
    height: var(--small-element-size);
    background-color: var(--bar-handle-active-background-color);
    border: 1px solid var(--bar-active-border-color);
    border-radius: var(--small-element-size);

    &:visual-focus {
        border-color: var(--highlight-color);
        outline: var(--focus-outline);
    }

    &:disabled {
        color: var(--highlight-disabled-color);
        background-color: var(--bar-handle-disabled-background-color);
        border: 1px solid var(--bar-disabled-border-color);
    }
}
