/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

label {
    color: var(--window-text-color);
}

textfield,
textarea,
spinbox
{
    height: var(--medium-element-size);
    padding: var(--medium-spacing);
    border-radius: var(--corner-radius);

    border: 1px solid var(--view-border-color);
    background-color: var(--view-background-color);
    color: var(--view-text-color);

    &:hovered,
    &:active-focus {
        border: 1px solid var(--highlight-color);
    }

    &:visual-focus {
        outline: 2px solid var(--focus-color);
    }

    .placeholder
    {
        color: mix(var(--view-text-color), var(--view-background-color), 0.3);
    }
}

textfield,
textarea
{
    width: 100px;
}
