/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

/*
 * Layout properties
 */

@property width {
    syntax: "<length>";
}

@property height {
    syntax: "<length>";
}

@property spacing {
    syntax: "<length>";
}

/*@property padding {
    syntax: "<length> <length>? <length>? <length>?";
}*/

@property padding {
    syntax: "<length>+";
}

@property padding-left {
    syntax: "<length>";
}

@property padding-right {
    syntax: "<length>";
}

@property padding-top {
    syntax: "<length>";
}

@property padding-bottom {
    syntax: "<length>";
}

/*@property inset {
    syntax: "<length> <length>? <length>? <length>?";
}

@property margin {
    syntax: "<length> <length>? <length>? <length>?";
}*/

/*@property layout-alignment {
    syntax: "(item | content | background)? (start | center | end | fill) (start | center | end | fill) <integer>?"
}*/
@property layout-alignment-container {
    syntax: "item | content | background";
}

@property layout-alignment-horizontal {
    syntax: "start | center | end | fill";
}

@property layout-alignment-vertical {
    syntax: "start | center | end | fill | stack";
}

@property layout-alignment-order {
    syntax: "<integer>";
}

@property border {
    syntax: "<length> solid <color>";
}

@property background-color {
    syntax: "<color>";
}

@property color {
    syntax: "<color>";
    inherits: true;
    initial-value: #ffffff;
}

@property text-alignment-container {
    syntax: "item | content | background";
}

@property text-alignment-horizontal {
    syntax: "start | center | end | fill";
}

@property text-alignment-vertical {
    syntax: "start | center | end | fill | stack";
}

@property text-alignment-order {
    syntax: "<integer>";
}

@property icon-alignment-container {
    syntax: "item | content | background";
}

@property icon-alignment-horizontal {
    syntax: "start | center | end | fill";
}

@property icon-alignment-vertical {
    syntax: "start | center | end | fill | stack";
}

@property icon-alignment-order {
    syntax: "<integer>";
}
