/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

@import "properties.css";
@import "default.css";
@import "variables.css";

/*
 * Text: #232629
 *
 * Window Background: #eff0f1
 *
 * Button Background: #fcfcfc
 * Button Text: #232629
 *
 * Hover Decoration: #3daee9
 * Focus Decoration: #3daee9
 *
 * Separator Color: #DDDDDD
 */

button,
toolbutton {
    width: 32px;
    height: 32px;
    spacing: 4px;
    padding: 8px;

    color: var(--button-text-color);
}

button {
    border: 1px solid #ddd;
    background-color: #fcfcfc;

    &:hovered {
        border: 1px solid #3daee9;
    }

    &:pressed {
        background-color: #3daee9;
    }

    &:visual-focus {
/*         outline: 2px solid  */
    }
}

toolbutton {
    &:hovered {
        border: 1px solid #3daee9;
    }

    &:pressed {
        background-color: #3daee9;
    }
}

textfield {
    width: 100px;
    height: 32px;

    border: 1px solid #ddd;
    background-color: #fff;
}
