/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

@import "properties.css";
@import "default.css";

button,
toolbutton {
    width: 32px;
    height: 32px;

    border: 1px solid #000;
    background-color: #f00;

    padding: 4px;

    &:hovered {
        border: 1px solid #f00;
    }

    &:pressed {
/*         background-color: #0f0; */
    }

    &:visual-focus {
/*         outline: 2px solid  */
    }
}

textfield {
    width: 100px;
    height: 32px;

    background: #00f;
    border: 1px solid #000;
}
